.video-item{"data-target" => "#videoCarouselModal", "data-toggle" => "modal", "data-video-link" => "#{videolink}", "data-video-title" => "#{title}"}
  = image_tag "#{photourl}", class: "video-photo", alt: "Gitlab video photo jpg", loading: 'lazy'
  - if defined? video_title_size
    - if video_title_size == "h5"
      %h5= title
  - else
    %h4= title
